{% extends 'base.html' %}
{% load static %}
{% block content %}
   <main class="main-content">
    <!--== Start Page Title Area ==-->
    <section class="page-title-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-title-content ">
              <h2 class="title">Products</h2>
              <div class="bread-crumbs"><a href="{% url 'index' %}">Home<span class="breadcrumb-sep">></span></a><span class="active">Products</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Title Area ==-->

    <!--== Start Shop Area Wrapper ==-->
    <div class="product-area product-grid-area">
      <div class="container">
        <div class="row flex-row-reverse">
          <div class="col-lg-9">
            <div class="row">
              <div class="col-12">
                <div class="shop-topbar-wrapper">
                  <div class="collection-shorting">
                    <div class="shop-topbar-left">
                      <div class="view-mode">
                        <nav>
                          <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-grid-tab" data-bs-toggle="tab" data-bs-target="#nav-grid" type="button" role="tab" aria-controls="nav-grid" aria-selected="true"><i class="fa fa-th"></i></button>
                            <button class="nav-link" id="nav-list-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list" aria-selected="false"><i class="fa fa-list"></i></button>
                          </div>
                        </nav>
                      </div>
                    </div>
                    <div class="product-show-content"><p>Showing 1 - 21 of 34 result</p></div>
                    <div class="product-short-list">
                      <div class="product-show">
                        <label for="SortBy">Sort by</label>
                        <select class="form-select" id="SortBy" aria-label="Default select example">
                          <option value="manual">Featured</option>
                          <option value="best-selling">Best Selling</option>
                          <option value="title-ascending" selected>Alphabetically, A-Z</option>
                          <option value="title-descending">Alphabetically, Z-A</option>
                          <option value="price-ascending">Price, low to high</option>
                          <option value="price-descending">Price, high to low</option>
                          <option value="created-descending">Date, new to old</option>
                          <option value="created-ascending">Date, old to new</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                <div class="row">
                    {% for i in products %}
                  <div class="col-xl-4 col-md-6">
                    <!-- Start Product Item -->
                    <div class="product-item">
                      <div class="product-thumb">
                        <a href="{% url 'product-detail' i.id %}">
                          <img src="{{ i.photo.url }}" alt="Olivine-Shop">
                        </a>
                        <div class="product-action">
                          <a class="action-cart" href="{% url 'add-cart' i.id %}">
                            <i class="icofont-shopping-cart"></i>
                          </a>
                          <a class="action-quick-view" href="{% url 'add-wishlist' i.id %}" title="Wishlist">
                            <i class="icon-heart-empty"></i>
                          </a>
                          <a class="action-compare" href="javascript:void(0);" title="Quick View">
                            <i class="icon-compare"></i>
                          </a>
                          <a class="action-wishlist" href="javascript:void(0);" title="Quick View">
                            <i class="icon-zoom"></i>
                          </a>
                        </div>
                      </div>
                      <div class="product-info">
                        <h4 class="title"><a href="{% url 'product-detail' i.id %}">{{ i.name }}</a></h4>
                        <div class="prices">
                          <span class="price">{{ i.price }}</span>
                        </div>
                      </div>
                    </div>
                    <!-- End Product Item -->
                  </div>
                    {% endfor %}
                </div>
              </div>
              <div class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
                <div class="row">
                    {% for i in products %}
                  <div class="col-12">
                    <!-- Start Product Item -->
                    <div class="product-item product-item-list">
                      <div class="product-thumb">
                        <a href="shop-single-product.html"><img src="{{ i.photo.url }}" alt="Olivine-Shop"></a>
                        <div class="product-action-quick-view">
                          <a class="action-quick-view" href="{% url 'add-wishlist' i.id %}" title="Wishlist">
                              <i class="icon-heart-empty"></i>
                          </a>
                        </div>
                      </div>
                      <div class="product-info">
                        <h4 class="title"><a href="{% url 'product-detail' i.id %}">{{ i.name }}</a></h4>
                        <div class="prices">
                          <span class="price">{{ i.price }}</span>
                        </div>
                        <p>{{ i.description|truncatechars:100 }}</p>
                        <div class="product-action-btn">
                          <a class="btn-compare" href="javascript:void(0);">
                            <i class="fa icon-compare"></i>
                          </a>
                          <a class="btn-add-cart" href="{% url 'add-cart' i.id %}">Add to cart</a>
                          <a class="btn-wishlist" href="{% url 'wishlist' %}">
                            <i class="icon-heart-empty"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <!-- End Product Item -->
                  </div>
                    {% endfor %}
                </div>
              </div>
            </div>
          {% if products.paginator.num_pages > 1 %}
          <div class="card-footer d-flex justify-content-end">
              <nav aria-label="Page navigation">
                  <ul class="pagination">
                      {% if products.has_previous %}
                          <li class="page-item">
                            <a class="page-link " href="?page={{ products.previous_page_number }}">
                                Previous
                            </a>
                          </li>
                      {% endif %}
                      {% for num in products.paginator.page_range %}
                      {% if num == products.number %}
                        <li class="page-item active">
                            <a class="page-link" href="#" tabindex="-1">{{ num }}</a>
                        </li>
                      {% elif num > products.number|add:'-2' and num < products.number|add:'2' %}
                       <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                      {% endif %}
                      {% endfor %}
                      {% if products.has_next %}
                      <li class="page-item">
                            <a class="page-link " href="?page={{ products.next_page_number }}">
                                Next
                            </a>
                      </li>
                      {% endif %}
                  </ul>
              </nav>
          </div>
          {% endif %}
          </div>
          <div class="col-lg-3">
            <div class="shop-sidebar-area">
              <div class="widget">
                <h3 class="widget-title">Search</h3>
                <div class="widget-search-box">
                  <form action="{% url 'search' %}" method="get">
                    <div class="form-input-item">
                      <label for="search2" class="sr-only">Search Here</label>
                      <input type="search" id="search2" name="q"  placeholder="Search our store">
                      <button type="submit" class="btn-src"><i class="icofont-search-1"></i></button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="widget">
                <h3 class="widget-title">Categories</h3>
                <div class="widget-categories-menu">
                  <ul>
                      {% for i in category %}
                    <li><a href="{% url 'category' i.id %}">{{ i.name }}</a></li>
                       {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Shop Area Wrapper ==-->
  </main>
 {% endblock %}